In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
#Load datasets
df = pd.read_csv("ShopSphere_Dataset.csv")

In [21]:
#Checking the dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385314 entries, 0 to 385313
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    385314 non-null  int64
 1   InvoiceDate  385314 non-null  object
 2   CustomerID   385314 non-null  int64
 3   StockCode    385314 non-null  int64
 4   Description  385314 non-null  object
 5   Quantity     385314 non-null  int64
 6   UnitPrice    385314 non-null  float64
 7   Country      385314 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 23.5+ MB

In [22]:
#Checking the dataframe top 5
df.head(n=5)

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,Country
0,400000,2024-01-21 03:01:47,10000,40565,Groceries,31,5.56,United Kingdom
1,400000,2024-01-21 03:01:47,10000,40048,Fashion,14,34.86,United Kingdom
2,400000,2024-01-21 03:01:47,10000,40149,Electronics,48,149.66,United States
3,400000,2024-01-21 03:01:47,10000,40514,Sports & Outdoors,7,38.30,United States
4,400000,2024-01-21 03:01:47,10000,40607,Groceries,4,7.66,United States

In [23]:
#To check if there was a missing value
df.isnull().sum()

InvoiceNo      0
InvoiceDate    0
CustomerID     0
StockCode      0
Description    0
Quantity       0
UnitPrice      0
Country        0
dtype: int64

In [ ]:
#To change the customerID data type from integer to object

df["CustomerID"] =